body {
    @body-width: 1500px;

    min-width: @body-width;

    #container {
        min-width: @body-width;

        #main {
            background-color: rgba(242, 242, 242, 1);
            font-size: 0;
            min-width: @body-width;

            .right-panel {
                display: inline-block;
                vertical-align: top;
                margin-left: 100px;
            }
        }
    }
}

